---
import Layout from "../layouts/Layout.astro";
import { versions } from "../data/versions";

const news = [
  {
    title: "7-Zip 25.01",
    date: "2025-08-03",
    link: "https://sourceforge.net/p/sevenzip/discussion/45797/thread/da14cd780b/",
  },
  {
    title: "7-Zip 25.00",
    date: "2025-07-05",
    link: "https://sourceforge.net/p/sevenzip/discussion/45797/thread/4ed0e379f4/",
  },
  {
    title: "7-Zip 24.09",
    date: "2024-11-29",
    link: "https://sourceforge.net/p/sevenzip/discussion/45797/thread/b95432c7ac/",
  },
];
---

<Layout title="7-Zip 官方中文网站">
  <table cellspacing="4" cellpadding="4">
    <tbody>
      <tr>
        <td>
          <h1>欢迎来到 7-Zip 官方中文网站！</h1>

          <p><b>7-Zip</b> 是一款拥有极高压缩比的开源压缩软件。</p>

          <p>
            <b
              >下载 7-Zip {versions.stable.long}（{
                versions.stable.date
              }）稳定版适用于 Windows x64（64 位）：</b
            >
          </p>

          <table cellspacing="1" cellpadding="6">
            <tbody>
              <tr>
                <th class="Title" style="width: 60px;">链接</th>
                <th class="Title" style="width: 60px;">格式</th>
                <th class="Title" style="width: 80px;">系统</th>
                <th class="Title" style="width: 55px;">大小</th>
              </tr>
              <tr>
                <td class="Item text-center">
                  <a
                    href={`https://www.7-zip.org/a/7z${versions.stable.short}-x64.exe`}
                    >下载</a
                  >
                </td>
                <td class="Item text-center">.exe</td>
                <td class="Item text-center">64 位 x64</td>
                <td class="Item text-center">1 MB</td>
              </tr>
            </tbody>
          </table>

          <p>
            <b
              >下载 7-Zip {versions.stable.long} 稳定版适用于其他 Windows 平台（32
              位 x86 或 ARM64）：</b
            >
          </p>

          <table cellspacing="1" cellpadding="6">
            <tbody>
              <tr>
                <th class="Title" style="width: 60px;">链接</th>
                <th class="Title" style="width: 60px;">格式</th>
                <th class="Title" style="width: 80px;">系统</th>
                <th class="Title" style="width: 55px;">大小</th>
              </tr>
              <tr>
                <td class="Item text-center">
                  <a
                    href={`https://www.7-zip.org/a/7z${versions.stable.short}.exe`}
                    >下载</a
                  >
                </td>
                <td class="Item text-center">.exe</td>
                <td class="Item text-center">32 位 x86</td>
                <td class="Item text-center">1 MB</td>
              </tr>
              <tr>
                <td class="Item text-center">
                  <a
                    href={`https://www.7-zip.org/a/7z${versions.stable.short}-arm64.exe`}
                    >下载</a
                  >
                </td>
                <td class="Item text-center">.exe</td>
                <td class="Item text-center">64 位 ARM64</td>
                <td class="Item text-center">1 MB</td>
              </tr>
            </tbody>
          </table>

          <p>
            <b>中文版附加内容</b>请 <a href="https://github.com/sparanoid/7z"
              >访问 GitHub 查看</a
            >。
          </p>

          <h2>许可协议</h2>

          <p>
            <b>7-Zip</b> 是一款 <b>开源</b> 的 <b>免费</b> 软件。大多数源代码都基于
            <b>GNU LGPL</b> 许可协议下发布。部分代码基于 BSD 3 句条款（BSD 3-clause）许可协议发布。并且，部分代码受到了
            unRAR 许可协议的限制。更多许可信息请查看：<a
              href="https://github.com/sparanoid/7z/blob/master/zh-cn/License.txt"
              >7-Zip 许可</a
            >。
          </p>

          <p>
            您可以在任何一台计算机上使用 7-Zip ，包括用在商业用途的计算机。不对
            7-Zip 进行注册或支付费用并不影响您的使用。
          </p>

          <h2>7-Zip 主要特征</h2>
          <ul>
            <li>
              使用了 <b>LZMA</b> 与 <b>LZMA2</b> 算法的 <a href="7z.html"
                >7z 格式</a
              > 拥有极高的压缩比
            </li>
            <li>
              支持格式：
              <ul>
                <li>压缩 / 解压缩：7z、XZ、BZIP2、GZIP、TAR、ZIP 以及 WIM</li>
                <li>
                  仅解压缩：AR、ARJ、CAB、CHM、CPIO、CramFS、DMG、EXT、FAT、GPT、HFS、IHEX、ISO、LZH、LZMA、MBR、MSI、NSIS、NTFS、QCOW2、RAR、RPM、SquashFS、UDF、UEFI、VDI、VHD、VMDK、WIM、XAR、Z
                  以及 ZSTD
                </li>
              </ul>
            </li>
            <li>
              与 ZIP 及 GZIP 格式相比，<b>7-Zip</b> 能提供比使用 PKZip 及 WinZip
              高 2-10% 的压缩比
            </li>
            <li>为 7z 与 ZIP 提供更完善的 AES-256 加密算法</li>
            <li>7z 格式支持创建自释放压缩包</li>
            <li>Windows 资源管理器集成</li>
            <li>强大的文件管理器</li>
            <li>强大的命令行版本</li>
            <li>支持 FAR Manager 插件</li>
            <li>支持 87 种语言</li>
          </ul>

          <p>
            <b>7-Zip</b> 适用于 Windows 11 / 10 / 8 / 7 / Vista / XP / 2022 / 2019
            / 2016 / 2012 / 2008 / 2003 / 2000。
          </p>

          <p>
            在 <a href="https://sourceforge.net/projects/sevenzip/"
              >Source Forge 的 7-Zip 页面</a
            >（英文）中您可以找到相关的论坛、错误汇报及系统需求。
          </p>
        </td>

        <td valign="top" style="width: 210px;">
          {
            news.map((item) => (
              <>
                <table class="News" cellpadding="3" cellspacing="1">
                  <tbody>
                    <tr class="NewsHeader">
                      <td class="NewsTitle">{item.title}</td>
                      <td class="NewsDate">{item.date}</td>
                    </tr>
                    <tr class="News">
                      <td class="NewsText" colspan="2">
                        <a href={item.link}>{item.title}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br />
              </>
            ))
          }

          <table class="News" cellpadding="3" cellspacing="1">
            <tbody>
              <tr class="NewsHeader">
                <td class="NewsTitle">7-Zip 更新历史</td>
              </tr>
              <tr class="News">
                <td class="NewsText" colspan="2">
                  <a
                    href="https://github.com/sparanoid/7z/blob/master/zh-cn/History.txt"
                    >查看更新历史（中文）</a
                  >
                  <br />
                  <a href="https://www.7-zip.org/history.txt"
                    >查看更新历史（英文）</a
                  >
                </td>
              </tr>
            </tbody>
          </table>

          <br />

          <table class="News" cellpadding="3" cellspacing="1">
            <tbody>
              <tr class="NewsHeader">
                <td class="NewsTitle" style="background-color:#55acee;"
                  >了解 7-Zip 最新动态</td
                >
              </tr>
              <tr class="News">
                <td class="NewsText" colspan="2">
                  <a href={`https://twitter.com/7zip`}>@7zip</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</Layout>
